<div class="container">
  <div class="row">
    <div class="col-sm-12">
      <%= link_to 'New File upload', new_file_upload_path, class: 'pull-right btn btn-primary' %>
      <h1>Listing file_uploads</h1>

      <table class="table">
        <thead>
        <tr>
          <th>File Name</th>
          <th>Size</th>
          <th colspan="2"></th>
        </tr>
        </thead>

        <tbody>
        <% @file_uploads.each do |file_upload| %>
            <tr>
              <td><%= file_upload.file_file_name %></td>
              <td><%= number_to_human_size(file_upload.file_file_size) %></td>
              <td><%= link_to 'Show', file_upload %></td>
              <td><%= link_to 'Destroy', file_upload, method: :delete, data: { confirm: 'Are you sure?' } %></td>
            </tr>
        <% end %>
        </tbody>
      </table>

      <br>

    </div>
  </div>
</div>
