<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @file_upload.title %>
</p>

<p>
  <strong>User:</strong>
  <%= @file_upload.user %>
</p>

<p>
  <strong>File Name: </strong>
  <%= @file_upload.file_file_name %>
</p>

<%= link_to 'Edit', edit_file_upload_path(@file_upload) %> |
<%= link_to 'Back', file_uploads_path %>
